---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SitePage from "../../components/SitePage.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Θεραπεία ζεύγους" data-theme="theme-sage">

  <SitePage
    title="Θεραπεία ζεύγους"
    theme="theme-floral"
  >
    <p>
      This is the couple-therapy page.
    </p>

  </SitePage>

</BaseLayout>

