---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SitePage from "../../components/SitePage.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Διαδικτυακές συνεδρίες">

  <SitePage
    title="Διαδικτυακές συνεδρίες"
  >
    <p>
      This is the online sessions therapy.
    </p>

  </SitePage>

</BaseLayout>

