---
import BaseLayout from "../layouts/BaseLayout.astro";
import SitePage from "../components/SitePage.astro";
import { CONFIG } from "../site-config";
---

<BaseLayout title="Αρχική" data-theme="theme-sage">


  <SitePage
    title="Αρχική"
    theme="theme-floral"
  >
    <p>
      This is index page.
    </p>

  </SitePage>
</BaseLayout>

