---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SitePage from "../../components/SitePage.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Διαλεκτική συμπεριφορική ψυχοθεραπεία" data-theme="theme-sage">

  <SitePage
    title="Διαλεκτική συμπεριφορική ψυχοθεραπεία"
    theme="theme-floral"
  >
    <p>
      This is the dialectic page.
    </p>

  </SitePage>

</BaseLayout>

