---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SitePage from "../../components/SitePage.astro";
import { CONFIG } from "../../site-config";
---

<BaseLayout title="Συστημική ψυχοθεραπεία">

  <SitePage
    title="Συστημική ψυχοθεραπεία"
  >
    <p>
      This is the systemic page.
    </p>

  </SitePage>


</BaseLayout>

